<div class="alert alert-block alert-info"><font size="5"><center><b><u>Ingesta y Transformación Dataset con Python</u></b></center></font>
    
$%$       
\begin{align*}Alex\:Kumenius\end{align*}
\begin{align*}Business\hspace{2mm}Intelligence\hspace{2mm}and\hspace{2mm}Data\hspace{2mm}Scientist\hspace{2mm}Project\hspace{2mm}Integrator\end{align*}
$%$       
\begin{align*}Date : Desembre\hspace{2mm},2020\end{align*}</div>

# <span style=color:darkblue>INGESTA Y TRANSFORMACIÓN DATASET</span>

Se dedica una cantidad significativa de tiempo para la preparación del dato :

1. Cargar / Ingesta,
2. Limpiar,
3. Transformar y
4. Reorganizar

Alrededor del 80% o más del tiempo de dedicación de un Data Scientist.

## <span style=color:green><ins>Configuración Entorno de Trabajo</ins></span>

In [ ]:
# Importamos librerias necesarias
import os
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings('ignore')

In [ ]:
# Mostrar el directorio de trabajo
print(os.getcwd())
# os.getcwd()

In [ ]:
# Establecer nuevo directorio de trabajo a la carpeta Proyecto/Data/RawData

RData = 'D:\\Documents\\EureCat\\Formacion\\Eurecat 2019\\Programa Formacion Violeta\\Projecto\\Data\\Rawdata'
os.chdir(RData)

In [ ]:
# Verificamos el nuevo directorio de trabajo

print(os.getcwd())

In [ ]:
# Mostrar archivos del directorio
os.listdir(os.curdir)

---

## <span style=color:green><ins>Ingesta Fuentes de Datos</ins></span>

[Baltimore Camera Data](https://data.baltimorecity.gov/Transportation/Baltimore-Fixed-Speed-Cameras/dz54-2aru)

### <span style=color:blue> Con libreria urllib</ins></span>

In [ ]:
import urllib

In [ ]:
url = "https://data.baltimorecity.gov/resource/dz54-2aru.csv"

In [ ]:
archivo = urllib.request.urlopen(url)

In [ ]:
descarga = archivo.read()

In [ ]:
with open('D:\\Documents\\EureCat\\Formacion\\Eurecat 2019\\Programa Formacion Violeta\\Projecto\\Data\\Rawdata\\baltimore_Alex.csv', 'wb') as f:
    f.write(descarga)

---

### <span style=color:blue> Con libreria requests</ins></span>

In [ ]:
import requests
# pip install requests

In [ ]:
print('Inicio descarga de archivo con requests...')

In [ ]:
url = 'https://data.baltimorecity.gov/api/views/dz54-2aru/rows.csv'

In [ ]:
r = requests.get(url)

In [ ]:
file = 'D:\\Documents\\EureCat\\Formacion\\Eurecat 2019\\Programa Formacion Violeta\\Projecto\\Data\\Rawdata\\baltimore_1.csv'

In [ ]:
with open(file, 'wb') as f:
    f.write(r.content)

In [ ]:
# Podemos Extraemos HTTP meta-data
print(r.status_code)

In [ ]:
print(r.headers['content-type'])

In [ ]:
print(r.encoding)

In [ ]:
# Mostrar archivos del directorio
os.listdir(os.curdir)

---

### <span style=color:blue> Con libreria wget</ins></span>

In [ ]:
# instalamos la libreria 'wget'
# !pip3 install wget

In [ ]:
import wget

In [ ]:
# apuntamos a la url para bajar archivo 'csv'
url_csv = 'https://data.baltimorecity.gov/api/views/dz54-2aru/rows.csv'
save_csv = 'D:\\Documents\\EureCat\\Formacion\\Eurecat 2019\\Programa Formacion Violeta\\Projecto\\Data\\Rawdata\\baltimore_3.csv'

In [ ]:
# wget.download(url_csv, 'D:\\Documents\\EureCat\\Formacion\\Eurecat 2019\\Programa Formacion Violeta\\Projecto\\Data\\Rawdata\\baltimore_2.csv')
wget.download(url_csv, save_csv)

In [ ]:
# apuntamos a la url para bajar archivo 'json'
url_json = 'https://data.baltimorecity.gov/api/views/dz54-2aru/rows.json'

In [ ]:
wget.download(url_json, 'D:\\Documents\\EureCat\\Formacion\\Eurecat 2019\\Programa Formacion Violeta\\Projecto\\Data\\Rawdata\\baltimore.json')

In [ ]:
url_html = 'https://data.baltimorecity.gov/api/views/dz54-2aru/rows.html'

In [ ]:
wget.download(url_html, 'D:\\Documents\\EureCat\\Formacion\\Eurecat 2019\\Programa Formacion Violeta\\Projecto\\Data\\Rawdata\\baltimore.html')

In [ ]:
# Mostrar archivos del directorio
os.listdir(os.curdir)

---

# <span style=color:darkblue><ins>EXPLORACION Y TRANSFORMACIOM DATASET</ins></span>

## <span style=color:green><ins>[Pandas' Input/Output](https://pandas.pydata.org/pandas-docs/version/0.22/api.html#input-output)</ins></span>

In [ ]:
# leemos el archivo del dataset 
Baltimore = pd.read_csv('D:\\Documents\\EureCat\\Formacion\\Eurecat 2019\\Programa Formacion Violeta\\Projecto\\Data\\Rawdata\\baltimore_1.csv', sep=',')

In [ ]:
# buscamos el tipo de estructura del dataset
type(Baltimore)

In [ ]:
# miramos la dimensión del dataset
Baltimore.shape

In [ ]:
# dimensión del dataset
Baltimore.ndim

In [ ]:
# Verificamos las opciones de visualización del nº de columnas
pd.get_option('display.max_columns')

In [ ]:
# Verificamos las opciones de visualización del nº de columnas
pd.set_option('display.max_columns', None)

In [ ]:
# Si queremos visualizar todas las filas del data frame. Necesitamos configurar value como NONE 
# Code to set the property display.max_rows to None
pd.set_option('display.max_rows', None)

In [ ]:
# configurar código para establecer display.max_rows a una linea/row mas que el total
pd.set_option('display.max_rows', Baltimore.shape[0]+1)

In [ ]:
Baltimore.shape[0]

In [ ]:
# Modificamos nº de columnas a visualizar
pd.set_option('display.max_columns',8)

In [ ]:
# extraemos las variables del dataset ó nombre de las columnas
Baltimore.columns

In [ ]:
# Visualizamos el dataset
Baltimore.head()

In [ ]:
# Miramos el tipo de dato
Baltimore.dtypes

In [ ]:
# Visualizamos el dataset de una forma mas resumida.info()
Baltimore.info()

In [ ]:
Baltimore.describe().round(2)

In [ ]:
Baltimore.describe(include = "all")

In [ ]:
# Buscando Missing Values
# verificando cuales son NaN (True) usando isnull
# devuele un DataFrame de True's y False's
Baltimore.isnull()
# Baltimore.isnull().head()

In [ ]:
# Contamos el numero de Missing values en cada columna suma True's
Baltimore.isnull().sum()

In [ ]:
# data.notnull().tail()
# data.notnull()
Baltimore.notnull().head()

In [ ]:
Baltimore.notnull().sum()

# <span style=color:darkblue><ins>TIDY DATA - LIMPIAR EL DATO</ins></span>

<span style=color:blue>Missing data / Falta de dato</span> es muy habitual en el proceso del Análisis del dato.

La representación de <span style=color:blue>Missing Data</span> se determina, para datos numéricos, con el <span style=color:blue>valor float point <strong>NaN</strong></span> (Not a Number -- No un Numero). 

Lo llamamos <span style=color:blue><b>Valor Centinela - Sentinel Value</b></span> que puede ser facilmente detectado.

No referiremos a <span style=color:blue>Missing Data</span> como <span style=color:blue><b>NA</b></span>, que significa <span style=color:blue>No Disponible <b>(Not Available)</b></span>. 

En aplicaciones estádisticas, <span style=color:blue><b>NA</b> data</span> puede ser :

- data que <b>no</b> <u>existe</u> o 
- que <u>existe</u> pero <b>no fue observada</b> ( <i>debido a problemas en la recopilación del dato</i> ).

Cuando limpiamos los datos para su análisis, es importante <b>analizar las variables</b> que contengan <span style=color:blue><b>NA</b> values</span> para : 

- identificar problemas en la recopilación de datos, 
- identificar origen, 
- sesgos potenciales en el dato causados por <span style=color:blue><b>NA</b> values</span>,
- ...

In [ ]:
dataS1 = ['zebra', 'alcachofa', np.nan, 'aguacate']
type(dataS1)

In [ ]:
dataS1

In [ ]:
# Creamos y asignamos una Serie de valores a la variable dataS
dataS = pd.Series(['zebra', 'alcachofa', np.nan, 'aguacate'])
dataS

In [ ]:
dataS.isnull()

<span style=color:darkred><b>None</b> values</span> tambien se tratan como <span style=color:blue><b>NA</b></span> en matrices (arrays) de objectos :

In [ ]:
dataS[2:4]

In [ ]:
dataS[0] = None
dataS

In [ ]:
dataS.isnull()

Otras funciones (methods) utilizados en la Gestion de Missing Data :

- <span style=color:blue><b>dropna()</b></span> : Filter axis labels based on whether values for each label have missing data, with varying thresholds for how
    much missing data to tolerate.
- <span style=color:blue><b>fillna()</b></span> : Fill in missing data with some value or using an interpolation method such as 'ffill' or 'bfill'.
- <span style=color:blue><b>isnull()</b></span>  : Return boolean values indicating which values are missing/NA.
- <span style=color:blue><b>notnull()</b></span> : Negation of isnull.

## <span style=color:green><ins>Tratamiento Missing Data -- Filter Out Missing Data</ins></span>

Existen varias manera de tratar con <span style=color:blue>NA data</span> :

- Eliminar <span style=color:blue><b>NaN Values</b></span> en filas/rows o columnas/columns o,
- Poblar o Imputar valores específicos en <span style=color:blue><b>Missing Data()</b></span>

### <span style=color:darkred><ins>Método 1.- Eliminar Missing values - Series</ins></span>

#### <span style=color:blue>dropna() method</span>

Aplicar <span style=color:blue><b>dropna()</b></span> en <b>Series objects</b>, nos devolvera la Series con sólo los <span style=color:blue>non-null data</span> y <span style=color:blue>index values</span> :

In [ ]:
data = pd.Series([1, np.nan, 4, 75, 5, 7, np.nan])

In [ ]:
# Estructura / dimension de la Serie
print('dimension de la Serie :', data.shape), print('Data Strucutre :', type(data))

In [ ]:
data.isnull()

In [ ]:
# Selecionar Valores Not Null, indexación Boleana
data.notnull()

In [ ]:
# Selecionar Valores Not Null, mostrando valores.
# Podemos crear, por asignacion de variables, a una nueva Serie
Missing_Value = data[data.isnull()]

In [ ]:
Missing_Value

In [ ]:
# o Eliminamos utilizando dropna()
data.dropna()

### <span style=color:darkred><ins>Método 1.- Eliminar Missing values - DataFrame</ins></span>

#### <span style=color:blue>dropna() method</span>

Aplicar <span style=color:blue><b>dropna()</b></span> en <b>Dataframes objects</b>, podemos decidir eliminar filas/rows o columnas/columns que :

- todos sus valores son NA o,
- solo esas filas o columnas que contengan algun NA.

nos devolvera sólo los <span style=color:blue>non-null data</span> e <span style=color:blue>index values</span>.

In [ ]:
# creamos un DataFrame
data = pd.DataFrame([[2, 8,3, 4.5], [1., np.nan, np.nan],
                   [np.nan, np.nan, np.nan], [np.nan, 5.9, 3]])
data

<span style=color:blue><b>dropna()</b></span> elimina, por defecto, cualquier <span style=color:blue>fila/row</span> que contenga los <span style=color:red>Null o Nan values</span> :

In [ ]:
# Eliminamos fila/row que contengan Nan values :
cleaned = data.dropna()
cleaned

Otra sintaxis equivalente, incluyendo el parametro <span style=color:darkred><u>how = <b>'any'</b></u></span>, <u>valor por defecto</u> en el método <span style=color:blue>dropna()</span> :

In [ ]:
# eliminamos Missing values
# how='any' es el default
data.dropna(axis = 0, how='any')

In [ ]:
data

Si modificamos el parametro por defecto a <span style=color:darkred><u>how = <b>'all'</b></u></span>, en el método <span style=color:blue>dropna()</span>, eliminaremos <b>SOLO</b> aquellas <span style=color:blue>filas/rows</span> que son todas <span style=color:red>NA values</span> :

In [ ]:
# Eliminamos filas si todos sus valores son missing values
data_Final = data.dropna(how = 'all')

In [ ]:
data_Final

De la misma manera, podemos eliminar <b>columnas</b> con valores NA, <i>totales o parciales</i>, utilizando el parametro <span style=color:darkred><b>axis = 1</b></span>

In [ ]:
# Añadimos una 4ª columna con todos sus valores NA.
data[4] = np.nan
# data['Col 4']
# del data['Col 4']

In [ ]:
data.dropna(axis = 1, how = 'all')

In [ ]:
data

Supongamos que queremos solamente mantener filas/rows que contengan un cierto número de Observaciones. Podemos realizarlo con el argumento ``thresh``:

In [ ]:
data_1 = pd.DataFrame(np.random.randn(7, 3))
data_1

In [ ]:
data_1.iloc[:4, 1]

In [ ]:
data_1.iloc[:4, 1] = np.nan

In [ ]:
data_1.iloc[:4, 1]

In [ ]:
data_1

In [ ]:
data_1.iloc[:2, 2] = np.nan

In [ ]:
data_1

<span style=color:red>Utilizar condiciones de eliminación si ciertos criterios se cumplen :</span>

In [ ]:
data_1

In [ ]:
# Eliminamos filas si ambas columnas 0 y 1 son NA values

data_1.dropna(subset=[0, 1], how='all')

In [ ]:
# Eliminamos filas si ambos street y crossStreet son NA values

Baltimore.dropna(subset=['street', 'crossStreet'], how='all').shape

Podemos eliminar todos los NA values directamente en el DataFrame original, sin necesidad de crear un nuevo objecto, a traves de asignación de variables, introduciendo el parametro <span style=color:darkred>inplace =</span> <span style=color:green><b>True</b></span>

In [ ]:
# DataFrame original
data_1

In [ ]:
# eliminamos Missing values directamente en origen, sin asignación de variable.
data_1.dropna(how='all', inplace=True)

In [ ]:
data_1

### <span style=color:darkred><ins>Método 2.- Poblar o Imputar Missing values</ins></span>

En lugar de <span style=color:blue>eliminar los <b>NaN</b> values</span>, y <span style=color:red>potencialmente descartar</span> al mismo tiemo otros <span style=color:blue><u>datos relevantes</u> para el <b>análisis</b></span>. Podemos <span style=color:blue><b><i>"Poblarlos o Imputarles"</i></b></span> nuevos valores.

In [ ]:
data_2 = pd.DataFrame(np.random.randn(7, 3))

In [ ]:
data_2.iloc[:4, 1] = np.nan

In [ ]:
data_2.iloc[:2, 2] = np.nan

In [ ]:
data_2

#### <span style=color:blue>fillna() method</span>

Utilizamos el método <span style=color:blue>fillna()</span> con una <b>constante</b> que sustituira <span style=color:blue>NaN/Null values</span> por el valor de la constante :

In [ ]:
data_2.fillna(0)

In [ ]:
data_2

Podemos utilizar <span style=color:blue>fillna()</span> con un diccionario ``dict``, usando diferentes valores para poblar cada columna :

In [ ]:
data_2.fillna({1 : 0.74, 2 : 0.11})

In [ ]:
data_1

In [ ]:
data_1[1].fillna(value = 'VARIOUS')

In [ ]:
data_1.isnull().sum()

In [ ]:
# Contar valores de repeticion de una variables
Baltimore['street'].value_counts(dropna=False).head()

In [ ]:
# Verificación de Mising Values
# Baltimore['street'].isnull().sum()
Baltimore.isnull().sum()

In [ ]:
# Ejemplo fill in NA values with strings. 
# Ojo este dataset esta limpio / Curado, no hay NaN, efectua los cambios en el dataset
Baltimore['street'].fillna(value='VARIOUS', inplace=False).head()

In [ ]:
Baltimore['street'].value_counts(dropna=True).head()

El mismo método de imputación, <i>obtención de nuevos valores partiendo del conocimiento de un conjunto de valores</i>, se puede usar para reindexar, utilizando <span style=color:blue>fillna()</span>.

In [ ]:
data = pd.DataFrame(np.random.randn(6, 3))
data

In [ ]:
data.iloc[2 : 4, 1] = np.nan

In [ ]:
data.iloc[3 : , 2] = np.nan

In [ ]:
data

el argumento ``ffill``, propagará la última observación válida hacia adelante hasta la siguiente observación válida.

In [ ]:
data.fillna(method='ffill')

el valor entero del argumento ``limit``, es el número máximo de valores <span style=color:blue><b>NaN</b></span> consecutivos para la <span style=color:blue>propagacion</span> hacia ``adelante`` o hacia ``atrás``.

In [ ]:
data.fillna(method = 'ffill', limit = 1)

In [ ]:
# Mostrando el resumen estadístico
data.describe()

Podemos <span style=color:blue><b>imputar</b></span> los valores ``medios/mean`` ó ``medianas/median`` tanto a <b>Series</b> como <b>DataFrame</b>:

In [ ]:
data

In [ ]:
# Imputamos las medias de cada columna.
data.fillna(data.mean())

In [ ]:
data = pd.Series([2.2, np.nan, 4.3, np.nan, 6])
data

In [ ]:
# Cual es la 'mediana' de la Serie 
data.median()

In [ ]:
data.fillna(data.median())

---

# <span style=color:darkblue><ins>DATA TRANSFORMATION / TRANSFORMACIÓN DEL DATO</ins></span>

Data transformation, es otro tipo importante de operaciones en el procesado del Dato :

## <span style=color:green><ins>Eliminar Duplicados / Removing Duplicates</ins></span>

### <span style=color:blue>duplicated() method</span>

Podemos encontrar <span style=color:blue>filas duplicadas</span> en un DataFrame por muchas razones :

In [ ]:
data = pd.DataFrame({'A' : ['uno', 'dos'] * 3 + ['dos'],
                    'B' : [1, 1, 2, 3, 4, 4, 4]})
data

El método de DataFrame <span style=color:blue><b>duplicated()</b></span> devuelve una <span style=color:blue>Serie boleana</span> indicando si cada fila ``es un duplicado`` o ``no``, según se haya observado en la fila previa :

In [ ]:
data.duplicated()

### <span style=color:blue>drop_duplicates() method</span>

El método <span style=color:blue>drop_duplicates()</span> devuelve un DataFrame donde el valor de <span style=color:blue>duplicated</span> sea <span style=color:green>False</span> :

In [ ]:
data.drop_duplicates()

Ambos métodos consideran todas las columnas por defecto; pero podemos especificar un ``subset`` especifico para detectar ``duplicados``.

In [ ]:
data['C'] = range(7)
data

In [ ]:
data.drop_duplicates(['A'])

<span style=color:blue>duplicated()</span> y <span style=color:blue>drop_duplicates()</span> por defecto, mantienen la primera combinación de valores observados. Utilizando el argumento <span styel=color:darkred>keep = 'last'</span> mantendra el ultimo valor.

In [ ]:
# Observar y comparar la numeración de los indices - indexes
data.drop_duplicates(['A', 'B'], keep = 'last')

## <span style=color:green><ins>Transformando Datos Utilizando una Función o Mapear</ins></span>

En un posible escenario, tengamosque realizar alguna transformación basada en los valores en una matriz/array, serie o columna en un DataFrame.

In [ ]:
data = pd.DataFrame({'alimento' : ['bacon', 'carne Mechada', 'bacon',
                                  'alitas', 'Bistec', 'Bacon','pechuga',
                                  'Cocochas','entrecot'],
                    'gramos' : [200, 450, 150, 600, 379, 80, 200, 500, 400]})
data

Queremos añadir una columna que indique el tipo de animal de procedencia. 

Mapearemos cada alimento distinto al tipo de animal de procedencia.

In [ ]:
procedencia_animal = {'bacon' : 'cerdo',
                      'carne mechada' : 'cerdo',
                      'alitas' : 'pollo',
                      'bistec' : 'vaca',
                      'pechuga' : 'pavo',
                      'cocochas' :'bacalao',
                      'entrecot' : 'vaca'}
procedencia_animal

### <span style=color:blue>map() method</span>

El método de mapeo <span style=color:blue><b>map()</b></span> en una <b>Serie</b> acepta una ``función`` u objeto tipo ``dict`` que contiene un mapeo.

Sin embargo, tenemos un pequeño problema, algunos de los caracteres de los valores de <span style=color:blue>alimentos</span> estan en ``mayúsculas`` y otros no.

Tenemos que convertir cada valor a ``minúsculas`` utilizando el método para ``Series`` <span style=color:blue><b>str.lower()</b></span> :

In [ ]:
data

In [ ]:
minusculas = data['alimento'].str.lower()
minusculas

In [ ]:
# creamos una nueva variable 'animal' y mapeamos
data['O.animal'] = minusculas.map(procedencia_animal)
data

Tambien, podemos pasar una ``funcción`` que realice todo el trabajo :

In [ ]:
data['alimento'].map(lambda x : procedencia_animal[x.lower()])

In [ ]:
data

Utilizar el método <span style=color:blue><b>map()</b></span> es una forma muy comoda para desarrollar transformaciones y otras operaciones relacionadas con la limpieza del dato.

## <span style=color:green><ins>Reemplazando Valores</ins></span>

Hemos repoblado <span style=color:blue>Missing Values (<b>NaN/Null</b>)</span>, con el método <span style=color:blue><b>fillna()</b></span> caso especial de reemplazo. 

hemos utilizado, el método <span style=color:blue><b>map()</b></span> para modificar un subconjunto de valores en un objeto.

Pero, el método <span style=color:blue><b>replace()</b></span> proporciona una forma más simple y flexible de realizarlo :

In [ ]:
data = pd.Series([10., 2., -999, -1000, 7., -999])
data

### <span style=color:blue>replace() method</span>

Los valores ``-999`` podrían ser ``valores centinela -- sentinel value`` para <span style=color.blue>Missing Data (NaN/Null)</span>. Para sustituirlos por <span style=color:blue>NaN values</span> utilizaremos <span style=color:blue><b>replace()</b></span> devolviendomos una ``nueva`` <b>Series</b>, a menos que pasemos el argumento <span style=color:darkred>inplace = <b>True</b></span>.

In [ ]:
data.replace(-999, np.nan)

Podemos reemplazar multiple valores a la vez. Pasamos una ``lista/list`` de los <u>valores que queremos substituir</u>, y luego los ``valores de sustitución`` en otra ``lista/list``.

In [ ]:
data.replace([-999, -1000], [np.nan, 0])

Tambien podemos pasar como argumento un ``dict``:

In [ ]:
data.replace({-999 : np.nan, -1000 : 0})

## <span style=color:green><ins>Renombrar los Indices de los Eje/Axis</ins></span>

Las <span style=color:blue>etiquetas/labels de las coordenadas</span> se transforman de la misma manera con una ``funcción`` o ``mapeando`` para crear una nueva <span style=color:blue>etiqueta/labels</span>. 

Podemos mdificar los ejes en origen sin necesidad de crear un nuevo objeto.

In [ ]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)), 
                    index = ['Barcelona', 'Paris', 'Berlin'], 
                    columns = ['a', 'b', 'c', 'd'])

data

In [ ]:
data.index

### <span style=color:blue>index.map() method</span>

Como en las Series, los indices de los ejes, tambien tienen un método <span style=color:blue><b>map()</b></span> :

In [ ]:
transform = lambda x : x[:4].upper()

In [ ]:
transform

In [ ]:
data.index.map(transform)

Para modificar el DataFrame en ``origen / inplace``, podemos asignar ``index`` al dataset.

In [ ]:
data.index = data.index.map(transform)
data

In [ ]:
data.index

### <span style=color:blue>rename() method</span>

Si queremos crear una versión transformada del dataset, sin modificar el original, un método útil es <span style=color:blue><b>rename()</b></span> :

In [ ]:
data_title = data.rename(index=str.title, columns = str.upper)
data_title

In [ ]:
data_title.index

<span style=color:blue><b>rename()</b></span> podemos usarlo conjuntamente con un objeto ``dict``proporcianando nuevos valores para un ``subset`` de las ``etiquetas/labels``de los ``ejes/axis``.

In [ ]:
data.rename(index={'BARC' : 'BCN', 'PARI' :'PAR'},
            columns={'c' : 'ocio'}, inplace = True)

In [ ]:
data

<span style=color:blue><b>rename()</b></span> nos ahorra tener que copiar el DataFrame manualmente y asignar
a sus atributos ``index`` y ``columns``. 

Podemos modificar el dataset original pasando el atributo
<span style=color:darkred>inplace = <b>True</b></span> :

In [ ]:
data.rename(index={'BARC' : 'BCN'}, inplace = True)

In [ ]:
data

## <span style=color:green><ins>Discretización y Binning</ins></span>

Dicretization se define como un proceso de conversión de valores continuos, en un conjunto finito de intervalos con una pérdida mínima de información.

Los datos continuos a menudo se discretizan o se separan en "contenedores / buckets" para su análisis.

Tenemos un dataset sobre un grupo de personas y queremos agruparlos en grupos de edad discretos:

In [ ]:
edad = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]
edad

### <span style=color:blue>cut() method</span>

Dividámoslos en contenedores o agrupaciones de 18 a 25, 26 a 35, 36 a 60, y finalmente 61 ó más. usaremos el método <span style=color:blue><b>cut()</b></span> :

In [ ]:
bins = [18, 25, 35, 60, 100]
bins

In [ ]:
cat = pd.cut(edad, bins, right = False)
cat

Un parentesis ``(`` significa que el lado esta abierto, mientras que los corchetes ``]`` significa que esta cerrado (inclusive).   

Podemos cambiar que clase esta cerrada pasando el argumento <span style=color:darkred>right = False</span>.

In [ ]:
bins1 = [18, 26, 36, 61, 100]
catR = pd.cut(edad, bins1, right = False)
catR

El objecto que nos devuelve es un objecto <span style=color:blue><b>Categórico / Categorical</b></span> especial.   
Los resultados describe los ``bins`` calculados por <span style=color:blue><b>cut()</b></span>. Lo podemos tratar como <b>array of strings - matriz de literales</b> indicando el nombre del ``bin``;

### <span style=color:blue>cat Attributes</span>

Internamente contiene una <span style=color:blue>matriz de categorías</span> donde se especifican las distintas <span style=color:blue>categorías - bins</span> junto con un conteo para cada rango de edad. Utilizando en el atributo ``codes``:

In [ ]:
cat.codes

In [ ]:
cat.categories

In [ ]:
catR.codes

In [ ]:
catR.categories

El método <span style=color:blue>value_counts()</span> calcula un histograma del conteo de ``bin`` de valores <span style=color:red><b><u>NO nulos</u>, ( NaN / Null )</b></span>.

In [ ]:
pd.value_counts(cat)

Podemos cambiar el nombre/<span style=color:blue>etiquetas</span> de los <span style=color:blue><b>bins</b></span> pasando una ``list o array`` al parametro <span style=color:blue><u>labels</u></span>  del método <span style=color:blue>cut()</span>:

In [ ]:
nombre_bins = ['Joven', 'Joven Adulto', 'Mediana Edad', 'Senior']
nombre_bins

In [ ]:
cat_1 = pd.cut(edad, bins, labels = nombre_bins)
cat_1

In [ ]:
list(cat_1)

In [ ]:
pd.value_counts(cat_1)

Si pasamos un <span style=color:blue>número entero</span> como <span style=color:blue><b>bin</b></span>, <span style=color:red>en vez de acotaciones explicitas</span>, nos <span style=color:blue>calculara, <b>bins</b></span> de la <span style=color:blue>misma <b>longitud</b></span>, basado en los <span style=color:blue><i>valores <u>mínimos</u> y <u>máximos</u></i></span> del dataset.

In [ ]:
# la opción 'precision = 2' limita la precision decimal a 2 digitos.
pd.cut(edad, 2, precision = 2)

El método <span style=color:blue><b>qcut()</b></span>, agrupa, ``bins``,los datos en base a cuantiles de muestra.

In [ ]:
cats = pd.qcut(edad, 4, precision = 2) # Cut into quantiles
cats

In [ ]:
pd.value_counts(cats)

Podemos introducir <span style=color:blue>nuestros propios cuantiles</span> ( números entre 0 y 1, inclusive):

In [ ]:
cats_1 = pd.qcut(edad, [0, 0.1, 0.5, 0.9, 1.], precision = 2)
cats_1

In [ ]:
pd.value_counts(cats_1)

## <span style=color:green><ins>Detectando y Filtrando Outliers</ins></span>

Filtrar o transformar <span style=color:blue><b>Outliers - Valores Atípicos</b></span> es en gran medida la aplicación de operaciones de ``matriz - arrays``.

In [ ]:
data = pd.DataFrame(np.random.randn(1000, 4))

In [ ]:
data.shape

In [ ]:
data.info()

In [ ]:
data.head()

In [ ]:
data.describe()

Queremos encontrar en una de las columnas, <span style=color:blue><u>valores</u> que <b>contengan</b> el número <b>3</b></span> en ``valor absoluto``.

In [ ]:
col = data[1]

In [ ]:
col[np.abs(col) > 3]

Para selecionar todas las <span style=color:blue>observaciones - cases</span> con valores que <span style=color:red>excedan los <b>limites ó rangos</b></span> ``3`` o ``-3``, usaremos el método <span style=color:blue><b>any()</b></span> en un DataFrame Boleano :

In [ ]:
data[(np.abs(data) > 3).any(1)]

<span style=color:red>Los valores se pueden establecer en función de estos criterios</span>. 
    
Si queremos limitar los valores del intervalo a ``–3`` a ``3``:

In [ ]:
data[np.abs(data) > 3] = np.sign(data) * 3

In [ ]:
np.sign(data)

In [ ]:
data.head()

In [ ]:
# observamos 'min' y 'max' en el resumen estadístico,
# no supera el intervalo -3 y 3
data.describe()

La declaración np.sign(data) produce valores ``1`` y ``-1``, basandose si los valores en <span style=color:blue>data</span> son positivos o negativos :

In [ ]:
np.sign(data).head()

In [ ]:
(np.sign(data) * 3).head()

## <span style=color:green><u>Computing Indicator/Dummy Variables</u></span>

Otro tipo de transformación para aplicaciones de <i>Statistical Modeling</i> o <i>Machine Learning</i> es convertir una variable <span style=color:blue>Categórica</span> en una matriz <span style=color:blue><b>"dummy / ficticia"</b> o <b>"indicator / indicadora"</b></span>. 

Si una columna en un DataFrame tiene <b>k</b> valores distintos, derivaría una matriz o DataFrame con <b>k</b> columnas que contienen todos los <span style=color:blue><b>1s</b> y <b>0s</b></span>. Pandas tiene una función <span style=color:blue><b>get_dummies()</b></span> para hacerlo :

### <span style=color:blue>pd.get_dummies() method</span>

In [ ]:
df = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'],
                   'data1': range(6)})
df

In [ ]:
type(df)

In [ ]:
df_dummies = pd.get_dummies(df['key'])
df_dummies

Podemos agregar un prefijo a las columnas en el dummy DataFrame, que luego se puede combinar con los otros datos. <span style=color:blue>get_dummies()</span> tiene un argumento <span style=color:darkred><b>prefix</b></span> para hacer esto:

In [ ]:
dummies = pd.get_dummies(df['key'], prefix = 'cod')
dummies

In [ ]:
df_con_dummies = df[['data1']].join(dummies)
df_con_dummies

In [ ]:
os.getcwd()

In [ ]:
os.chdir('D:\\Documents\\Python\\Python for Data Analysis-Pandas Jupyter Notebook\\pydata-Notebooks\\datasets\\movielens')

In [ ]:
os.listdir()

In [ ]:
mcabecera = ['movie_id', 'titulo', 'genero']
mcabecera

In [ ]:
movies = pd.read_table('movies.dat', sep = '::', header = None, names = mcabecera)
movies.head()

In [ ]:
movies.shape

Agregar <span style=color:blue>dummy variables</span> para cada género requiere un poco de transformación. 

Primero, extraemos la lista de géneros únicos en el dataset:

In [ ]:
todos_generos = []
todos_generos

In [ ]:
for x in movies.genero:
    todos_generos.extend(x.split('|'))

In [ ]:
todos_generos[:8]

In [ ]:
len(todos_generos)

In [ ]:
generos = pd.unique(todos_generos)
generos

In [ ]:
len(generos)

In [ ]:
movies

Para construir un <span style=color:blue>Dummy</span> DataFrame, se empieza creando una matriz/array <b>'zeros'</b>, para finalmente crear un DaFrame de <b>'zeros'</b> :

In [ ]:
len(movies)

In [ ]:
cero_matriz = np.zeros((len(movies), len(generos)))
cero_matriz.shape

In [ ]:
cero_matriz

In [ ]:
dummies = pd.DataFrame(cero_matriz, columns = generos)
dummies.head()

In [ ]:
dummies.sum()

In [ ]:
dummies.describe()

Ahora, <span style=color:blue><b>iteramos</b> cada película</span> y configuramos las entradas en cada fila de <span style=color:blue>dummies</span> a <b>1</b>. Para hacer esto, usamos <span style=color:blue>dummies.columns</span> para calcular los índices de columna para cada género:

In [ ]:
dummies.columns

In [1]:
gen = movies.genero[0]
gen

NameError: name 'movies' is not defined

In [ ]:
gen.split('|')

In [ ]:
dummies.columns.get_indexer(gen.split('|'))

Ahora, podemos utilizar <span style=color:blue>.iloc</span> para establecer valores basados en estos índices :

In [ ]:
for i, gen in enumerate(movies.genero):
    indices = dummies.columns.get_indexer(gen.split('|'))
    dummies.iloc[i, indices] = 1

In [ ]:
movies.head()

In [ ]:
dummies.head()

In [ ]:
dummies.sum()

Finalmente podemos combinar <b>'dummies'</b>, con <b>'movies'</b>

In [ ]:
movies_dummies = movies.join(dummies.add_prefix('Genero_'))
movies_dummies.head()

In [ ]:
movies_dummies.iloc[1]

Una receta útil para aplicaciones estadísticas es combinar <span style=color:blue><b>pd.get_dummies()</b></span> con una función de discretización como <span style=color:blue><b>pd.cut()</b></span>:

In [ ]:
np.random.seed(12345)

In [ ]:
values = np.random.rand(10)
values

In [ ]:
bins = [0, 0.2, 0.4, 0.6, 0.8, 1]
bins

In [ ]:
pd.get_dummies(pd.cut(values, bins))

# <span style=color:darkblue><ins>MANIPULACION DE LITERALES / STRING MANIPULATION</ins></span>

## <span style=color:blue>split() method</span>

Podemos dividir en pedazos un <b>String - cadena literales</b> separada por comas con el método <span style=color:blue><b>split()</b></span> :

In [ ]:
val = '  a,b  ,   verde'
type(val)

In [ ]:
val

In [ ]:
val1 = val.split(',')

In [ ]:
val1

Amenudo combinaremos <span style=color:blue><b>split()</b></span> con <span style=color:blue><b>strip()</b></span> para ajustar espacios en blanco, incluido saltos de linea :

## <span style=color:blue>strip() method</span>

In [ ]:
espacios_b = [x.strip() for x in val.split(',')]
espacios_b

Estas <b>subcadenas-substrings</b> podrían concatenarse junto con un delimitador de dos puntos, <span style=color:red><b>': :'</b></span> usando el operador suma , <b>+</b>:

In [ ]:
primera, segunda, tercera = espacios_b 
primera, segunda,tercera

In [ ]:
primera + '::' + segunda + '::' + tercera

Una manera más rápida, es pasar una <b>'list'</b> o <b>tupla</b> al método <span style=color:blue><b>join()</b></span> al <b>String</b> <span style=color:red><b>': :'</b></span>

## <span style=color:blue>join() method</span>

In [ ]:
'::'.join(espacios_b)

## <span style=color:blue>in</span>

Podemos localizar <b>'substrings'</b>, utilizando la palabra clave <span style=color:blue><b>in</b></span> :

In [ ]:
'verde' in val

## <span style=color:blue>index() method</span>

In [ ]:
# Posición en la que se encuentra el caracter-substring de busqueda en el string que lo contiene
val.index('v')

In [ ]:
val

## <span style=color:blue>find() method</span>

In [ ]:
val.find(':')

La diferencia entre <span style=color:blue><b>find()</b></span> e <span style=color:blue><b>index()</b></span> es que el <span style=color:blue><b>index()</b></span> genera una excepción si no lo encuentra, mientras que <span style=color:blue><b>find()</b></span> nos devolvera <b>–1</b> :

## <span style=color:blue>count() method</span>

<span style=color:blue>count()</span> devuelve el número de ocurrencias de un <b>substring</b> especifico :

In [ ]:
val.count('e')

## <span style=color:blue>replace() method</span>

<span style=color:blue>replace()</span> substituye ocurrencias de un patron por otro. 

Se utiliza tambien para <b>eliminar</b> patrones, pasando un <b>string vacio</b> :

In [ ]:
val

In [ ]:
val.replace(',', '::')

In [ ]:
val.replace(' ', '')

## <span style=color:green><ins>Pandas DataFrame: Eliminar partes no deseadas del strings en una columnas</ins></span>

In [ ]:
Baltimore.head()

In [ ]:
Baltimore.columns

In [ ]:
# antes de efectuar un split
Baltimore.columns = Baltimore.columns.str.replace(' ' , '_')

In [ ]:
Baltimore.columns

In [ ]:
Baltimore.dtypes

In [ ]:
Baltimore['Location_1'].head()

In [ ]:
# antes de efectuar un split - eliminamos los parentesis del string Location_1
Baltimore.Location_1.str.replace('(', '').str.replace(')', '').head()

In [ ]:
# Crear dos variable nuevas 'lat' y 'lon' del resultado se dividir/separar 'Location 1'
Baltimore['lat'], Baltimore['lon'] = Baltimore['Location_1'].str.split(',',1).str

In [ ]:
Baltimore.head()

In [ ]:
Baltimore.shape

In [ ]:
Baltimore.columns

In [ ]:
Baltimore['lat']

In [ ]:
# 'lstrip' devuelve una copia de un 'string' con los caracteres seleccionados eliminados. 
# Usando Regular Expresions

Baltimore['lat'] = Baltimore['lat'].map(lambda x: x.lstrip('(').rstrip('aAbBcC'))

In [ ]:
Baltimore.head()

In [ ]:
Baltimore['lon'] = Baltimore['lon'].map(lambda x: x.lstrip('aAbBcC').rstrip(')'))

In [ ]:
Baltimore.head()

In [ ]:
Baltimore['lon'][1:10]

In [ ]:
Baltimore['lon'].dtypes

In [ ]:
Baltimore.dtypes

In [ ]:
# Convertimos las variable (object) 'lat' y 'lon' a float
Baltimore[['lat', 'lon']] = Baltimore[['lat', 'lon']].astype(float)

In [ ]:
Baltimore.dtypes

In [ ]:
Baltimore.head()

In [ ]:
# Mostra missing values (NaN)
Baltimore['lat'].value_counts(dropna=False).head()

In [ ]:
(Baltimore.isnull().sum()/len(Baltimore))*100

### <span style=color:blue><em>Confirmamos la transformación y de paso extra de artimética</em></span>

In [ ]:
# Display an array with the results asked:
[Baltimore.lat.mean(),
Baltimore.lon.mean(),
Baltimore.lat.median(),
Baltimore.lon.median(),
Baltimore.lat.sum(),
Baltimore.lon.sum() ]

In [ ]:
ls = Baltimore.lon.sum()
lm = Baltimore.lon.mean()
nOb = ls / lm
round(ls,15), round(lm,3), round(nOb, 3)

In [ ]:
# Convertimos 'int' a 'float'
nObs=float(ls/lm)
nObs

In [ ]:
# Convertimos 'float' a 'int'
nObs=int(ls/lm)
nObs

In [ ]:
# Convertimos 'int' a 'str'
nObs=float(ls/lm)
nObs=str(ls/lm)
type(nObs)

## <span style=color:green><ins>Pandas DataFrame: Eliminar columnas</ins></span>

In [ ]:
Baltimore.shape

In [ ]:
Baltimore.head()

In [ ]:
# Eliminando columna :
# axis=0 eje de la fila
# axis=1 eje de la columna
Baltimore.drop('Location_1', axis=1, inplace=True)

In [ ]:
Baltimore.shape

In [ ]:
Baltimore.head()

## <span style=color:green><ins>Pandas DataFrame: Renombrar columnas</ins></span>

In [ ]:
#  Sustituyendo espacios por guion bajo para todas las columnas
# Baltimore.columns = Baltimore.columns.str.replace(' ', '_')
# Baltimore.head()

In [ ]:
# Extraemos una lista de las columnas
Baltimore.columns

In [ ]:
# inplace=True afecta al DataFrame directamente

Baltimore.rename(columns = {'address': 'direccion', 'street': 'calle',
                            'crossStreet':'cruce', 'intersection': 'interseccion',
                            'direction': 'orientacion', 'Lat': 'lat', 'Lon':'lon'}, 
                 inplace=True)
Baltimore.columns

In [ ]:
Baltimore.head()

In [ ]:
# Renombrar multiple columnas en la carga del archivo -- OJO!! -- Re-nombra columns empezando 
# por la derecha.
data_cols = ['direccion', 'orientac','calle', 'cruce', 'interseccion','coordenadas']
data_cols

In [ ]:
# Renombrar multiple columnas en la carga del archivo
data_cols = ['direccion', 'orientac','calle', 'cruce', 'interseccion',
             'coordenadas', '2010_Census_Barrio','2010_Precintos_Sala_Census', 'Cod_Postal']
data_cols

In [ ]:
# Cambiar columnas mietras se lee/carga el dataset
data1 = pd.read_csv('D:\\Documents\\EureCat\\Formacion\\Eurecat 2019\\Programa Formacion Violeta\\Projecto\\Data\Rawdata\\baltimore_1.csv', 
                    sep=',', names=data_cols, header=0, encoding='utf-8')
data1.head()

In [ ]:
# Mostrara estadiscticas descriptivas de las columnas numericas
data1.describe()

In [ ]:
# calcula la frecuencia de repetición de diferentes 'street'
data1.calle.value_counts().head()

In [ ]:
# Transforma el conteo de las variables en porcentajes '%'
data1.calle.value_counts(normalize=True)

In [ ]:
# Buscar valores unicos
data1.cruce.unique()

In [ ]:
# number of unique values
data1.cruce.nunique()

In [ ]:
Baltimore.columns

In [ ]:
# crosstab es util para explorar mas el data
pd.crosstab(Baltimore['Zip_Codes'], Baltimore['orientacion'])

In [ ]:
# Eliminar multiples columnas
list_drop =['direccion', 'interseccion']
Baltimore.drop(list_drop, axis=1, inplace=False)

In [ ]:
Baltimore.shape

In [ ]:
Baltimore.head()

## <span style=color:green><ins>Pandas DataFrame: Eliminar Lineas</ins></span>

In [ ]:
Baltimore.shape

In [ ]:
Baltimore.head()

In [ ]:
# Eliminar filas 0 y 1
# axis=0 es el default, tecnicamente, no es necesario incluir el argumento
rows = [0, 1]
Baltimore.drop(rows, axis=0, inplace=True)
Baltimore.shape

In [ ]:
Baltimore.head()

### <span style=color:blue><ins>Ordenar - sort_values()</ins></span>

In [ ]:
# ordenar usando sort_values
# ordenar con numeros primero, luego orden alfabetico
Baltimore['Zip_Codes'].sort_values().tail()
# Baltimore.address.sort_values().head()

In [ ]:
Baltimore.sort_values('Zip_Codes', ascending=True).head()

In [ ]:
# otra alternativa a ordenar/sort
Baltimore['calle'].sort_values().head()

In [ ]:
Baltimore.columns

## <span style=color:green><ins>Ordenar un DataFrame usando multiple columnas</ins></span>

In [ ]:
# Creamos una lista de columnas

columna = ['orientacion', 'Zip_Codes']

# Ordenamos columnas. OJO!! No es correcto hacerlo con estas variables
Baltimore.sort_values(columna)

In [ ]:
# Usando "groupby" in panda
Baltimore.groupby('orientacion').count()

In [ ]:
Baltimore.groupby('orientacion').mean().round(3)

In [ ]:
Baltimore.groupby('orientacion').lon.mean()

In [ ]:
# Resultados agregados
Baltimore.groupby('orientacion').Zip_Codes.agg(['count','min','max','mean'])

In [ ]:
# Accedemos todos S/B en la column "orientacion"
# data[data.orientacion=='S/B'].head()
# data[data.orientacion=='S/B'].tail()
# data[data.orientacion=='S/B']
# data[data.orientacion=='S/B'].mean()
#data[data.orientacion=='S/B'].max()
Baltimore[Baltimore.orientacion == 'S/B'].min()

In [ ]:
Baltimore.columns

In [ ]:
# Buscar/extraer lineas que contengas un valor especifico en su contenido
Baltimore[Baltimore.calle == 'Erdman']

In [ ]:
Baltimore.head()

In [ ]:
BaltimoreDraft_1 = Baltimore.groupby('orientacion').mean()
BaltimoreDraft_1

In [ ]:
# Mostrar el directorio de trabajo
print(os.getcwd())

In [ ]:
# Establecer nuevo directorio de trabajo a la carpeta Proyecto/Data/RawData

RData = 'D://Documents//EureCat//Formacion//Eurecat 2019//Programa Formacion Violeta//Projecto//Data//Rawdata'
os.chdir(RData)

In [ ]:
# Guardamos el dataset preprocesado
data.to_csv('BaltimoreDraft_1.csv', sep=',', encoding='utf-8', index=False)

In [ ]:
# Mostrar archivos del directorio
os.listdir(os.curdir)

## <span style=color:green><ins>Metodos Utiles con STRINGS</ins></span>

In [46]:
# Importamos librerias necesarias
import os
import pandas as pd
import numpy as np

In [47]:
# Mostrar el directorio de trabajo
print(os.getcwd())

D:\Documents\EureCat\Formacion\Eurecat 2019\Programa Formacion Violeta\Projecto\Data\Rawdata

In [48]:
# Establecer nuevo directorio de trabajo a la carpeta Proyecto/Data/RawData

RData = 'D:\\Documents\\EureCat\\Formacion\\Eurecat 2019\\Programa Formacion Violeta\\Projecto\\Data\\Rawdata'
os.chdir(RData)

In [ ]:
# Verificamos el nuevo directorio de trabajo
print(os.getcwd())

In [ ]:
# Mostrar archivos del directorio
os.listdir(os.curdir)

In [ ]:
url = 'http://bit.ly/chiporders'
# orders = pd.read_table(url)
orders = pd.read_csv(url, sep='\t')

In [ ]:
# Guardamos el dataset preprocesado
orders.to_csv('chiporders.csv', sep=',', encoding='utf-8', index=False)

In [ ]:
# Eliminar la carga de memoria 
%reset -fs

In [ ]:
import os
import pandas as pd

os.listdir(os.curdir)

In [49]:
orders = pd.read_csv('chiporders.csv', sep=',')

In [50]:
orders.shape

(4622, 5)

In [51]:
orders.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [52]:
orders.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [53]:
orders.columns = orders.columns.str.upper()

In [54]:
orders.head()

,ORDER_ID,QUANTITY,ITEM_NAME,CHOICE_DESCRIPTION,ITEM_PRICE
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [ ]:
orders.columns.values.tolist()

In [55]:
orders.dtypes

ORDER_ID               int64
QUANTITY               int64
ITEM_NAME             object
CHOICE_DESCRIPTION    object
ITEM_PRICE            object
dtype: object

In [56]:
orders['ITEM_NAME'].head()

0             Chips and Fresh Tomato Salsa
1                                     Izze
2                         Nantucket Nectar
3    Chips and Tomatillo-Green Chili Salsa
4                             Chicken Bowl
Name: ITEM_NAME, dtype: object

In [57]:
# Podemos sobre-escribir el contenido de una variable con el siguiente código
# data.nombre_variable = data.nombre_variable.str.upper()
orders.ITEM_NAME = orders.ITEM_NAME.str.upper()

In [58]:
orders['ITEM_NAME'].head()

0             CHIPS AND FRESH TOMATO SALSA
1                                     IZZE
2                         NANTUCKET NECTAR
3    CHIPS AND TOMATILLO-GREEN CHILI SALSA
4                             CHICKEN BOWL
Name: ITEM_NAME, dtype: object

In [61]:
# Verificar presencia de substrings. Util para filtrar data
# orders.ITEM_NAME.str.contains('SAL')

orders1 = orders.loc[orders.ITEM_NAME.str.contains('FRE')]
orders1.ITEM_NAME.unique()

array(['CHIPS AND FRESH TOMATO SALSA',
       'CHIPS AND MILD FRESH TOMATO SALSA'], dtype=object)

In [62]:
orders2 = orders.loc[orders.ITEM_NAME == 'IZZE']
orders2

      ORDER_ID  QUANTITY ITEM_NAME CHOICE_DESCRIPTION ITEM_PRICE
1            1         1      IZZE       [Clementine]     $3.39
24          12         1      IZZE       [Grapefruit]     $3.39
47          21         1      IZZE       [Blackberry]     $3.39
66          30         1      IZZE       [Blackberry]     $3.39
359        155         1      IZZE       [Blackberry]     $3.39
360        155         1      IZZE       [Grapefruit]     $3.39
430        186         1      IZZE       [Grapefruit]     $3.39
579        237         1      IZZE       [Clementine]     $3.39
580        237         1      IZZE       [Grapefruit]     $3.39
1059       436         1      IZZE       [Clementine]     $3.39
1213       495         1      IZZE       [Clementine]     $3.39
1611       651         1      IZZE       [Blackberry]     $3.39
1612       651         1      IZZE       [Blackberry]     $3.39
1680       680         1      IZZE       [Clementine]     $3.39
2088       842         1      IZZE       [Clementine]     $3.39
2619      1040         1      IZZE       [Clementine]     $3.39
2634      1046         1      IZZE       [Clementine]     $3.39
2758      1095         1      IZZE       [Blackberry]     $3.39
2891      1149         1      IZZE       [Blackberry]     $3.39
3669      1468         1      IZZE       [Blackberry]     $3.39

In [63]:
# Cadena de metodos String
# sustituir elementos
orders.CHOICE_DESCRIPTION.str.replace('[', '').head()

0                                                  NaN
1                                          Clementine]
2                                               Apple]
3                                                  NaN
4    Tomatillo-Red Chili Salsa (Hot), Black Beans, ...
Name: CHOICE_DESCRIPTION, dtype: object

In [66]:
# Cadena de metodos strings
orders.CHOICE_DESCRIPTION = orders.CHOICE_DESCRIPTION.str.replace('[', '').str.replace(']', '').head()

In [67]:
orders

,ORDER_ID,QUANTITY,ITEM_NAME,CHOICE_DESCRIPTION,ITEM_PRICE
0,1,1,CHIPS AND FRESH TOMATO SALSA,NaN,$2.39
1,1,1,IZZE,Clementine,$3.39
2,1,1,NANTUCKET NECTAR,Apple,$3.39
3,1,1,CHIPS AND TOMATILLO-GREEN CHILI SALSA,NaN,$2.39
4,2,2,CHICKEN BOWL,"Tomatillo-Red Chili Salsa (Hot), Black Beans, ...",$16.98
5,3,1,CHICKEN BOWL,NaN,$10.98
6,3,1,SIDE OF CHIPS,NaN,$1.69
7,4,1,STEAK BURRITO,NaN,$11.75
8,4,1,STEAK SOFT TACOS,NaN,$9.25
9,5,1,STEAK BURRITO,NaN,$9.25
10,5,1,CHIPS AND GUACAMOLE,NaN,$4.45
11,6,1,CHICKEN CRISPY TACOS,NaN,$8.75
12,6,1,CHICKEN SOFT TACOS,NaN,$8.75
13,7,1,CHICKEN BOWL,NaN,$11.25
14,7,1,CHIPS AND GUACAMOLE,NaN,$4.45
15,8,1,CHIPS AND TOMATILLO-GREEN CHILI SALSA,NaN,$2.39
16,8,1,CHICKEN BURRITO,NaN,$8.49
17,9,1,CHICKEN BURRITO,NaN,$8.49
18,9,2,CANNED SODA,NaN,$2.18
19,10,1,CHICKEN BOWL,NaN,$8.75
20,10,1,CHIPS AND GUACAMOLE,NaN,$4.45
21,11,1,BARBACOA BURRITO,NaN,$8.99
22,11,1,NANTUCKET NECTAR,NaN,$3.39
23,12,1,CHICKEN BURRITO,NaN,$10.98
24,12,1,IZZE,NaN,$3.39
25,13,1,CHIPS AND FRESH TOMATO SALSA,NaN,$2.39
26,13,1,CHICKEN BOWL,NaN,$8.49
27,14,1,CARNITAS BURRITO,NaN,$8.99
28,14,1,CANNED SODA,NaN,$1.09
29,15,1,CHICKEN BURRITO,NaN,$8.49
...,...,...,...,...,...
4592,1825,1,BARBACOA BURRITO,NaN,$11.75
4593,1825,1,CARNITAS BOWL,NaN,$11.75
4594,1825,1,BARBACOA BOWL,NaN,$11.75
4595,1826,1,CHICKEN BOWL,NaN,$8.75
4596,1826,1,CHIPS AND GUACAMOLE,NaN,$4.45
4597,1826,1,CANNED SOFT DRINK,NaN,$1.25
4598,1826,1,BOTTLED WATER,NaN,$1.50
4599,1827,1,CHICKEN BOWL,NaN,$8.75
4600,1827,1,CHIPS AND GUACAMOLE,NaN,$4.45
4601,1827,1,CANNED SOFT DRINK,NaN,$1.25
4602,1827,1,BARBACOA BURRITO,NaN,$9.25
4603,1827,1,BARBACOA BURRITO,NaN,$9.25
4604,1828,1,CHICKEN BOWL,NaN,$8.75
4605,1828,1,CHIPS AND GUACAMOLE,NaN,$4.45
4606,1828,1,CANNED SOFT DRINK,NaN,$1.25
4607,1829,1,STEAK BURRITO,NaN,$11.75
4608,1829,1,VEGGIE BURRITO,NaN,$11.25
4609,1829,1,CANNED SOFT DRINK,NaN,$1.25
4610,1830,1,STEAK BURRITO,NaN,$11.75
4611,1830,1,VEGGIE BURRITO,NaN,$11.25
4612,1831,1,CARNITAS BOWL,NaN,$9.25
4613,1831,1,CHIPS,NaN,$2.15
4614,1831,1,BOTTLED WATER,NaN,$1.50
4615,1832,1,CHICKEN SOFT TACOS,NaN,$8.75
4616,1832,1,CHIPS AND GUACAMOLE,NaN,$4.45
4617,1833,1,STEAK BURRITO,NaN,$11.75
4618,1833,1,STEAK BURRITO,NaN,$11.75
4619,1834,1,CHICKEN SALAD BOWL,NaN,$11.25
4620,1834,1,CHICKEN SALAD BOWL,NaN,$8.75
4621,1834,1,CHICKEN SALAD BOWL,NaN,$8.75

In [68]:
# O usamos regex - Expresiones Regulares para simplificar el codigo anterior
orders.CHOICE_DESCRIPTION.str.replace('[\[\]]', '').head()

0                                                  NaN
1                                           Clementine
2                                                Apple
3                                                  NaN
4    Tomatillo-Red Chili Salsa (Hot), Black Beans, ...
Name: CHOICE_DESCRIPTION, dtype: object

In [69]:
orders.isnull().sum() / len(orders) * 100

ORDER_ID               0.000000
QUANTITY               0.000000
ITEM_NAME              0.000000
CHOICE_DESCRIPTION    99.935093
ITEM_PRICE             0.000000
dtype: float64

In [ ]:
orders['ITEM_PRICE'].head()

In [70]:
# Cambiando el tipo de dato despues de leer el csv
# para cambiar usamos .astype()
orders['ITEM_PRICE'] = orders.ITEM_PRICE.astype(float)

ValueError: could not convert string to float: '$2.39 '

#### <span style=color:red>Como resolveriamos el problema ??</span>

In [71]:
# Casos especificos donde panda no reconoce una variable como un objeto 'float'
orders['ITEM_PRICE'] = orders.ITEM_PRICE.str.replace('$', '').astype(float)

In [72]:
orders['ITEM_PRICE'].head()

0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: ITEM_PRICE, dtype: float64

In [ ]:
# Para testear algun proceso y no comprometer el dataset semi-procesado
# realizamos una copia sobre la que realizaremos las pruebas.

orders3 = orders.copy()

In [ ]:
# Podemos contar el uso actual de memoria
orders.info(memory_usage='deep')

In [ ]:
# Podemos mostrar cuanto espacio cada columna actualmente usa
# los numberos son en bytes, no kilobytes
orders.memory_usage(deep=True)
#Observar la reduccion de espacio en memoria de Location_1, 'lat' y 'lon'

In [73]:
orders

,ORDER_ID,QUANTITY,ITEM_NAME,CHOICE_DESCRIPTION,ITEM_PRICE
0,1,1,CHIPS AND FRESH TOMATO SALSA,NaN,2.39
1,1,1,IZZE,Clementine,3.39
2,1,1,NANTUCKET NECTAR,Apple,3.39
3,1,1,CHIPS AND TOMATILLO-GREEN CHILI SALSA,NaN,2.39
4,2,2,CHICKEN BOWL,"Tomatillo-Red Chili Salsa (Hot), Black Beans, ...",16.98
5,3,1,CHICKEN BOWL,NaN,10.98
6,3,1,SIDE OF CHIPS,NaN,1.69
7,4,1,STEAK BURRITO,NaN,11.75
8,4,1,STEAK SOFT TACOS,NaN,9.25
9,5,1,STEAK BURRITO,NaN,9.25
10,5,1,CHIPS AND GUACAMOLE,NaN,4.45
11,6,1,CHICKEN CRISPY TACOS,NaN,8.75
12,6,1,CHICKEN SOFT TACOS,NaN,8.75
13,7,1,CHICKEN BOWL,NaN,11.25
14,7,1,CHIPS AND GUACAMOLE,NaN,4.45
15,8,1,CHIPS AND TOMATILLO-GREEN CHILI SALSA,NaN,2.39
16,8,1,CHICKEN BURRITO,NaN,8.49
17,9,1,CHICKEN BURRITO,NaN,8.49
18,9,2,CANNED SODA,NaN,2.18
19,10,1,CHICKEN BOWL,NaN,8.75
20,10,1,CHIPS AND GUACAMOLE,NaN,4.45
21,11,1,BARBACOA BURRITO,NaN,8.99
22,11,1,NANTUCKET NECTAR,NaN,3.39
23,12,1,CHICKEN BURRITO,NaN,10.98
24,12,1,IZZE,NaN,3.39
25,13,1,CHIPS AND FRESH TOMATO SALSA,NaN,2.39
26,13,1,CHICKEN BOWL,NaN,8.49
27,14,1,CARNITAS BURRITO,NaN,8.99
28,14,1,CANNED SODA,NaN,1.09
29,15,1,CHICKEN BURRITO,NaN,8.49
...,...,...,...,...,...
4592,1825,1,BARBACOA BURRITO,NaN,11.75
4593,1825,1,CARNITAS BOWL,NaN,11.75
4594,1825,1,BARBACOA BOWL,NaN,11.75
4595,1826,1,CHICKEN BOWL,NaN,8.75
4596,1826,1,CHIPS AND GUACAMOLE,NaN,4.45
4597,1826,1,CANNED SOFT DRINK,NaN,1.25
4598,1826,1,BOTTLED WATER,NaN,1.50
4599,1827,1,CHICKEN BOWL,NaN,8.75
4600,1827,1,CHIPS AND GUACAMOLE,NaN,4.45
4601,1827,1,CANNED SOFT DRINK,NaN,1.25
4602,1827,1,BARBACOA BURRITO,NaN,9.25
4603,1827,1,BARBACOA BURRITO,NaN,9.25
4604,1828,1,CHICKEN BOWL,NaN,8.75
4605,1828,1,CHIPS AND GUACAMOLE,NaN,4.45
4606,1828,1,CANNED SOFT DRINK,NaN,1.25
4607,1829,1,STEAK BURRITO,NaN,11.75
4608,1829,1,VEGGIE BURRITO,NaN,11.25
4609,1829,1,CANNED SOFT DRINK,NaN,1.25
4610,1830,1,STEAK BURRITO,NaN,11.75
4611,1830,1,VEGGIE BURRITO,NaN,11.25
4612,1831,1,CARNITAS BOWL,NaN,9.25
4613,1831,1,CHIPS,NaN,2.15
4614,1831,1,BOTTLED WATER,NaN,1.50
4615,1832,1,CHICKEN SOFT TACOS,NaN,8.75
4616,1832,1,CHIPS AND GUACAMOLE,NaN,4.45
4617,1833,1,STEAK BURRITO,NaN,11.75
4618,1833,1,STEAK BURRITO,NaN,11.75
4619,1834,1,CHICKEN SALAD BOWL,NaN,11.25
4620,1834,1,CHICKEN SALAD BOWL,NaN,8.75
4621,1834,1,CHICKEN SALAD BOWL,NaN,8.75

In [74]:
orders.dtypes

ORDER_ID                int64
QUANTITY                int64
ITEM_NAME              object
CHOICE_DESCRIPTION     object
ITEM_PRICE            float64
dtype: object

## <span style=color:green><ins>Pandas DataFrames : Selecting Multiples rows and Columns</ins></span>

In [ ]:
#  -----.loc ----- este es un metodo flexible y potente
#  fltrar filas y seleccionar columnas por etiquetas
#  Sintax df.loc[rows, columns]

In [ ]:
#  Vamos a filtrar por fila 0 y todas las columnas
orders.loc[1, :]

In [ ]:
# filas 0, 1, 2 y todas las columnas
orders.loc[[0,10,2], :]

In [ ]:
# otra opción más facil de leer con transpose() o .T
# (orders.loc[[0,1,2], :]).transpose()
(orders.loc[[0,10,2], :]).T

In [ ]:
# Mas eficiente seria, eliminando los corchetes anidados para filtrar un rango de filas :
orders.loc[0:5, :]

In [ ]:
# Funciona si eliminamos la ',' y ':', pero al dejarlos nos clarifica y 
# simplifica la lectura del codigo
orders.loc[0:3]

In [ ]:
# todas las filas y columna 'address' : 
orders.loc[:,'ITEM_NAME']

In [ ]:
# todas las filas y columna 'address' y 'street' : 

orders.loc[:,['ITEM_PRICE', 'QUATNITY']].head()

In [ ]:
# Multiples filas y Multiples columnas
orders.loc[0:3, ['ITEM_PRICE', 'QUANTITY']]

In [ ]:
# Multiples filas y Multiples columnas
orders.loc[[0,15,3], ['ITEM_PRICE', 'QUANTITY']]

In [ ]:
# Filtrando usando item_name=='IZZE'
orders[orders.ITEM_NAME =='IZZE']

In [ ]:
# Mas facil de leer, especificando las filas y las columnas
orders.loc[orders.ITEM_NAME =='IZZE', :]

In [ ]:
# Mas facil de leer, especificando las filas y las columnas
orders.iloc[orders.ITEM_NAME =='IZZE', :]

In [ ]:
orders.iloc[:, 0:4].head() # iloc excluye 4 e incluye 0

In [ ]:
orders.iloc[:, [0,4]].head() # iloc excluye 4 e incluye 0

In [ ]:
# esta es la major diferencia, excluye fila 3.
orders.iloc[0:3, :]

In [ ]:
# Codigo no-explicito 
orders[['item_name', 'quantity']].head()

In [ ]:
# explicito 
orders.loc[:, ['item_name', 'quantity']].head()

In [ ]:
# explicito 
orders.reindex(['item_name', 'quantity']).head()

In [ ]:
### Codigo ambiguo, nos referimos a filas o a columnas
orders[0:3]

In [ ]:
# Usamos iloc
orders.iloc[0:3, 2:5]

In [ ]:
orders.loc[1:4, ['item_price', 'quantity']]

### [How to Select Rows of Pandas Dataframe Based on a list?](https://cmdlinetips.com/2018/02/how-to-subset-pandas-dataframe-based-on-values-of-a-column/)

Selección de filas usando multiples valores presentes en un iterable o una list.

Pandas dataframe’s ``isin() function`` allows us to select rows using a list or any iterable. If we use ``isin()`` with a single column, it will simply result in a boolean variable with True if the value matches and False if it does not.

## <span style=color:green><ins>Pandas DataFrames : Trabajando con fechas y hora</ins></span>

In [ ]:
url1 = 'http://bit.ly/uforeports'
ufodata = pd.read_csv(url1)

In [ ]:
os.getcwd()

In [ ]:
# Guardamos el dataset preprocesado
ufodata.to_csv('uforeports.csv', sep=',', encoding='utf-8', index=False)

In [ ]:
os.listdir(os.curdir)

In [ ]:
ufodata = pd.read_csv('uforeports.csv', sep=',')

In [ ]:
ufodata.shape

In [ ]:
ufodata.head()

In [ ]:
# ejemplo de como estraer la hora
ufodata.dtypes

In [ ]:
ufodata.describe()

In [ ]:
# Buscamos Null values
ufodata.isnull().sum()

In [ ]:
# Buscamos Null values
(ufodata.notnull().sum() / len(ufodata)) *100

In [ ]:
len(ufodata)

In [ ]:
ufodata.shape

In [ ]:
ufodata.head()

In [ ]:
ufodata['hora'] = ufodata.Time.str.slice(-5, -3).astype(int).head()

In [ ]:
ufodata.head()

In [ ]:
# Convertimos la columna 'time' to 'datatime' format
# existen muchas opciones para asegurar que funciona bien en nuestro dataset

In [ ]:
ufodata['Time'] = pd.to_datetime(ufodata.Time)
ufodata.head()

In [ ]:
ufodata.dtypes

In [ ]:
# Extraer Hora
ufodata.Time.dt.hour.head()

In [ ]:
# Extrar el nombre de dia de la semana
ufodata['dia_semana'] = ufodata.Time.dt.weekday_name.head()

In [ ]:
ufodata.head()

In [ ]:
# Extrar el dia de la semana numerico
ufodata['n_dia_semana'] = ufodata.Time.dt.weekday.head()
ufodata.head()

In [ ]:
# Extrar el nº del dia del año que corresponde
ufodata['Año']=ufodata.Time.dt.dayofyear.head()

In [ ]:
ufodata.head()

In [ ]:
# Creamos una nueva variable a partir de la variable 'Time'
ufodata['Year'] = ufodata.Time.dt.year
ufodata.head()

In [ ]:
ufodata.shape

In [ ]:
ufodata.columns

In [ ]:
# var = ['Time']
#orders_5 = ufodata.drop('Time', axis=1, inplace=True)
ufodata1 = ufodata.drop('Time', axis=1)

In [ ]:
ufodata1.shape

In [ ]:
ufodata1.head()

--------